body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  background-color: #0d0a09;
}

main {
  flex: 1 0 auto;
}

.my-footer, .my-navbar {
  background-color: #0c0908;
}

/* h5 p a {
  color: #c29b1a;
} */

* {
  color: #c29b1a;
}

.icons a {
  margin: 10px;
}

.band-members li {
  display: block;
  margin: 10px;
}